<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Pick Right Agent
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="static/assets/img/logo-small.png">
          </div>
        </a>
        <a href="" class="simple-text logo-normal">
          Pick Right Agent
          <!-- <div class="logo-image-big">
            <img src="static/assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li >
            <a href="{{url_for('dashboard')}}">
              <i class="nc-icon nc-bank"></i>
              <p> Search </p>
            </a>
          </li>
          <li class="active ">
            <a href="{{url_for('agents')}}">
              <i class="nc-icon nc-zoom-split"></i>
              <p>Agents Info</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="nc-icon nc-minimal-right"></i>
              <p>Agents Details </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo"> Agents in {{city_name}} (<span id="agents_count">{{agents_count}}</span>)</a>
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-sm">


</div> -->
      <div class="content">
        <div class="row">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="myBtnContainer">
              <div class="row">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn " onClick="window.location.reload();" > Default</button>
              <button class="btn" id="tot_exp_filter"> Total Experience</button>
              <button class="btn" id="current_city_filter"> Current City Experience</button>
              <button class="btn" id="License_filter"> State Licenses</button>
              <div class="dropdown" style="color:#000000;">
                  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                    Exams Passed
                  </button>
                  <div class="dropdown-menu">
                    <!-- <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a> -->
                    <ul class="dropdown-menu" id="exam_checkboxes">
                      <li ><a href="#" class="dropdown-item" data-value="option1" tabIndex="-1"><input name="exam_checkboxes"value="7" type="checkbox"checked/>&nbsp;Series 7</a></li>
                      <li><a href="#" class="dropdown-item" data-value="option2" tabIndex="-1"><input name="exam_checkboxes" value="6" type="checkbox"/>&nbsp;Series 6</a></li>
                      <li ><a href="#" class="dropdown-item" data-value="option1" tabIndex="-1"><input name="exam_checkboxes"value="66" type="checkbox"checked/>&nbsp;Series 66</a></li>
                      <li><a href="#" class="dropdown-item" data-value="option2" tabIndex="-1"><input name="exam_checkboxes" value="65" type="checkbox"/>&nbsp;Series 65</a></li>
                      <li><a href="#" class="dropdown-item" data-value="option2" tabIndex="-1"><input name="exam_checkboxes" value="63" type="checkbox"/>&nbsp;Series 63</a></li>

                      <Center><button class="dropdown-item" id="exam_apply">Apply</button></Center>
                    </ul>
                  </div>
                </div>
              <button class="btn" id="export_btn"> Export</button>
              </div>
              <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-9">
                  <button class="btn" id="License_filter"> Exclude PENN</button>
                  <button class="btn" id="License_filter"> Include VOYA</button>
                  <button class="btn" id="License_filter"> Exclude Global Companies</button>
                </div>
                <div class="col-2">

                </div>
              </div>
              <input  id="search_agents" type="text" value="" class="form-control" placeholder="search agents">


            </div>

          &nbsp;&nbsp;&nbsp;<img style="height:60px;display:None;"src="static/loader1.gif" id="loader" alt="">
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="row container" id="agents_cards">
          {%for i in agents_data%}

            <div class="card" style="width: 18rem;">
              {% if i[14] not in ["-",""] %}
                <img style="height:20px; position:relative;top:10px;left:45%;" class="card-img-top card_size" src="static/bookmark.svg" alt="Card image">
              {% endif %}
              <div class="card-body  ">

                <div style="height:100px;">
                <a href="#" onclick="window.open('https://brokercheck.finra.org/individual/summary/{{i[1]}}');return false;"  style="color: #000000;">  <h5  class="card-title">{{i[0]}}</h5> </a>
                  <h6 class="card-subtitle mb-2 text-muted">{{i[2]}}</h6>
                  <i class="fas fa-award"></i>
                </div>


                <p class="card-text"> Total Experience : {{i[10]}}</p>
                <p class="card-text"> Experience in current city : {{i[8]}}</p>
                <p class="card-text"> SRO Registrations : {{i[9]}}</p>
                <!-- <p class="card-text"> CRD : {{i[1]}}</p> -->
                <p class="card-text"> Advisor : {{i[5]}}</p>
                <p class="<card-text>  </card-text>"> State Licenses : {{i[6]}}</p>

                <!-- <p class="card-text"> Points : {{i[7]}}</p> -->
                <div class="row">
                  <div class="col">
                      <p class="card-text"> CRD : {{i[1]}}</p>
                  </div>
                  <div class="col">
                      <p class="card-text"> Points : {{i[7]}}</p>
                  </div>
                </div><br>

                <h6 class="card-subtitle mb-2 text-muted"> contact: {{i[4]}}</h6>

                 <a target="_blank" href="{{i[1]}}" class="card-link" style="color:#000000;">More info</a>
              </div>
            </div>


          {%endfor%}
          </div>
        </div>

          </div>


    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/assets/js/core/jquery.min.js"></script>
  <script src="static/assets/js/core/popper.min.js"></script>
  <script src="static/assets/js/core/bootstrap.min.js"></script>
  <!-- <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script> -->
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Chart JS -->

  <!--  Notifications Plugin    -->
  <!-- <script src="static/assets/js/plugins/bootstrap-notify.js"></script> -->
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- <script src="static/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script> -->
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->

    <script src="static/js/filters.js"></script>
    <script src="static/js/search_agents.js"></script>
</body>

</html>
